#map {
    height: 400px;
    width: 400px;
    margin: auto;
    margin-right: 250px;
    float: right;
    display: inline-flex;
}

.contactForm {
    margin: auto;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
}

#wrap {
    display: inline-flex;
    width: 100%;
    margin-top: 30px;
}

#i {
    width: 500px;
}

#m {
    width: 500px;
    height: 275px;
}

p {
    display: flex;
    text-align: justify;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
}

@media screen and (max-width: 1400px) {
    #wrap {
        flex-direction: column;
        margin: auto;
        justify-content: center;
    }
    #map {
        display: block;
        margin: auto;
        margin-top: 30px;
    }
    .contactForm {
        margin: auto;
        margin-top: 20px;
    }
    p {
        display: inline-flex;
        margin: 10%;
        margin-top: 50px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    p {
        margin: 4%;
        margin-top: 50px;
        margin-bottom: 0;
    }
}